@model IEnumerable<Consultorio_Dentista.Model.Models.Consultas>

@{
    ViewData["Title"] = "Consultas";
}

<h1>Lista de Consultas</h1>

<p>
    <a asp-action="Create">Agendar consulta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraConsulta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraConsulta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.Id}) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.Id }) |
                    @Html.ActionLink("Excluir", "Delete", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
