@model IEnumerable<Consultorio_Dentista.ViewModel.ConsultaVM>

@{
    ViewData["Title"] = "Consultas";
}

<h1>Lista de Consultas</h1>

<p>
    <a asp-action="Create">Agendar consulta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomecliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datahora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomecliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datahora)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.id}) |
                @Html.ActionLink("Detalhes", "Details", new { id=item.id }) |
                    @Html.ActionLink("Excluir", "Delete", new {  id=item.id })
            </td>
        </tr>
}
    </tbody>
</table>
